# use glob syntax.
syntax: glob

.hgsub

build/
bin/
.directory
.git/
*~
*.orig
*.rej
*.ncb
*.sdf
*.opensdf
*.suo
*.ipch
*.user
*.gitignore
dep/lib/*/ACE*
dep/lib/*/Detour*
dep/acelite/lib/*
dep/acelite/ace/Release*/*/*
dep/acelite/ace/Debug*/*/*
win/VC1*0/*/*
win/_*/

src/shared/revision.h